body {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

h1 {
  margin: 1rem 0 0.5rem 0;
}

h2 {
  margin: 0;
}

p {
  margin: 2rem 0 0 0;
  font-style: italic;
}
